* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #191622;
  color: #988BC7;
}

a {
  text-decoration: none;
  color: #44475a;
  transition: 0.5s;
}

a:hover {
  color: #41414D;
}
